.container {
    font-family: Arial, sans-serif;
    background-color: #f5f7f6;
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.header {
    width: 100%;
    text-align: center;
    padding: 50px 20px;
    background: url('/header-bg.jpg') no-repeat center center;
    background-size: cover;
}

.header h1 {
    font-size: 36px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.header p {
    font-size: 18px;
    color: #ffffff;
}

/* Панель пошуку */
.searchBar {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.searchBar input,
.searchBar select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    outline: none;
}

.searchButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 7px 40px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #4CAF50;
    transition: all 0.2s;
}

.searchButton:hover {
    background-color: white;
    color: #4CAF50;
    border-color: #4CAF50;
}

.propertyList {
    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.propertyCard {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.propertyCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.propertyCard h3 {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
}

.propertyCard p {
    color: #666;
    font-size: 14px;
}

.price {
    font-weight: bold;
    color: green;
    font-size: 18px;
}

.propertyCard button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

/* Фікс для body */
body,
html {
    margin: 0;
    padding: 0;
    background-color: #f5f7f6;
    /* Щоб фон не був чорним */
}

.propertyCard {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.propertyCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 50vh;
    text-align: center;
}

.loadingContainer h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.main_image_wrapper {
    width: 100%;
    background-image: url(https://images.pexels.com/photos/1475938/pexels-photo-1475938.jpeg?auto=compress&cs=tinysrgb&w=1980&h=1280&dpr=2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tags {
    background-color: white;
    border-radius: 30px;
    padding: 10px 20px;
    width: fit-content;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
    color: #4CAF50;
}

.tags>span {
    color: #367937;
}


.sort_container {
    margin-top: 50px;
    width: 100%;
    max-width: 1300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #666;
}

