.header_container{
    margin: 20px auto 0;
    background-color: white;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    border-radius: 30px;
    position: relative;
    width: 100%;
}

.logo{
    font-size: 25px;
    color: rgb(96, 179, 55);
}

.nav_container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.nav_container > a{
    color: rgb(113,	116,	113	);   
    transition: all 0.1s ease-in-out;
}

.nav_container > a:hover{
    color: rgb(40, 40, 40);
}


.buttons_container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.login_button{
    background: white;
    border: 2px solid rgb(52, 52, 52);
    border-radius: 10px;
    padding: 7px 20px;
    color: rgb(52, 52, 52);
    transition: all 0.2s;
}
.login_button:hover, .signup_button:hover{
    color: white;
    background: rgb(96, 179, 55);
    border-color: rgb(96, 179, 55);
}

.signup_button{
    background: rgb(52, 52, 52);
    color: white;
    border: 2px solid rgb(52, 52, 52);
    border-radius: 10px;
    padding: 7px 20px;
    transition: all 0.2s;

}